/**Relegay**/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: #fff;
    --color-3: #fe7e7f;
    --txt-1: #2b3445;
    --txt-2: #7d879c;
    --border-1: #dae1e7;
    --header-h: 50px;

    --hover-1:rgb(245, 245, 245);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: rgb(13, 46, 117);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

button {
    border: 0;
}

input {
    outline: none;
}

.txt-point {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d-center{
    display: flex;
    align-items: center;
}

/***** Section HEADER *****/
.header{
    width: 100%;
    height: var(--header-h);
    background-color: rgb(250, 250, 250);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999999999;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a img{
    height: 50px;
}

.btn-icon{
    width: 45px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
}

.btn-icon-hover:hover{
    opacity: 0.8;
}

.btn-icon-20{
    padding: 8px 15px;
    border-radius: 8px;
}

.aside-movil{
    position: fixed;
    top: var(--header-h);
    background-color: #fff;
    width: 300px;
    height: calc(100vh - var(--header-h));
    padding: 20px;
    z-index: 999999999;
}

.list-button{
    display: flex;
    align-items: center;
    gap: 10px;
}


.section-1{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.section-1 a{
    width: 50%;
    margin: 0;
}

.section-1 a button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.section-2{
    margin-top: 20px;
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}

.acc-header a{
    width: 100%;
    display: block;
    padding: 10px;
    background-color: var(--hover-1);
    font-weight: 444;
}



/***** End Section HEADER *****/

/***** Section BOTONES *****/ 
.txt-light{color: #fff;}
.txt-black{color: #000;}
.btn-cl-1{
    background-color: rgb(137, 103, 170);
}
.btn-cl-2{
    background-color: rgb(31, 131, 76);
}
/***** End Section BOTONES *****/



/***** Section LISTAS *****/ 
.lista-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sublista-hover-item{
    position: relative;
}

.sublista-hover-item .btn-list{
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sublista-hover-item .btn-list span{
    font-weight: 444;
}

.sublista-hover-item .menu-list{
    position:absolute;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 200px;
    top: 50px;
    display: none;
}

.item a{
    display: block;
    padding: 8px 10px;
}

.hover-1 li a:hover{
    background-color: var(--hover-1);
    border-radius: 10px;
}

.lista-3{
    width: 100%;
}

.lista-3 .item-3 a{
    display: block;
    padding: 10px;
    border-radius: 10px;
}


.lista-3 .item-3 a:hover{
    background-color: var(--hover-1);
}
/***** End  LISTAS *****/



.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás de otros elementos */
}

/* Contenido encima del video */
.contenta {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté encima del video */
    color: white;
    text-align: center;

    transform: translate(-50%, -50%);
}


@media (min-width:850px){
    .aside-movil,.btn-aside, #btn-search-show{
        display: none;
    }
}
@media (max-width:850px){
    .header-movil{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-right{
        display: none;
    }

    .nav-movil{
        display: none;
    }

    .aside-movil{
        
    }
}